* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(14, 3, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    gap: 20px; /* Espaço entre as imagens */
    margin-top: 20px;
    padding: auto;
    }

.cliq {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    gap: 20px; /* Espaço entre as imagens */
    margin-top: 20px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}